<!-- Assignment -Template driven <Form>
Employee  Management-add employee,edit,delete,update
Add - must be a dynamic form
update -must be a dynamic form
set visiblity- for add & update oly visible --only when user clicks the button -->

 <div class="container">
    <div class="row">
        <div class="AddEmployeeTitleContainer">
            <div class="addEmployeeTitleContainer">
                <div>Add Employee Details</div>
            </div>
            <div class="addEmployeeBtnContainer">
                <div class="addNewEmployeeBtn" (click)="addNewEmployeeBtn()">Add+</div>
            </div>
            <div *ngIf="newEmployeeClicked">

                <div class="formWrapper">
                    <form >
                        <div class="form-group name">
                            <input type="text" class="form-control input" id="name"  [(ngModel)]="model.name" placeholder="Enter your name"/>
                        </div>
                        <div class="form-group position">
                            <input type="text" class="form-control input" id="position"  placeholder="Enter your position"/>
                        </div>
                        <div class="submitBtnContainer">
                            <button class="saveBtn" type="submit" (click)="addEmployee()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tableWrapper">
                <div class="containerTitle">
                    <div class="oneTitle">Name</div>
                    <div class="twoTitle">Position</div>
                    <div class="threeTitle">Action</div>
                </div>
                <!-- <div class="containerListItem" *ngFor="let employee of employees; let i=index" [style.background-color]="changeColorOne()"></div>
                <div>i</div>
                <div class="one">{{employee.name}}</div>
                  <div class="two">{{employee.Position}}</div>
                  <div class="three">
                      <button class="btn btn-primary" (click)="editEmployee(i)">Edit</button>&nbsp;
                      <button class="btn btn-primary" (click)="deleteEmployee(i)">Delete</button>
                  </div>
                </div> -->

            </div>
            </div>
            <div class="editEmployeeTitleContainer">
                <div class="">Edit Employee</div>

            </div>
            <form>
                <div class="form-group name">
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model2.name" placeholder="Name Here">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model2.position" placeholder="Name Here">
                </div>
                <div class="btn btn-dark" type="submit" (click)="updateEmployee()">
                        BUTTON
                </div>
            </form>
        </div>
    </div>
<!-- ##############################TEST UR OWN METHOD######################################################################################## -->

<form #signupForm="ngForm" (ngSubmit)="onSubmit()">
<table class="tableWrapper">
    <thead>
    <tr>
    <th class="form-group">Name</th>
    <th class="form-group">Position</th>
    <th class="form-group">Action</th>
    </tr>
    </thead>
    <tbody>
         <!-- FRONT PAGE SHOWN AS PER THIS CODE -->
        <tr *ngFor="let employee of employees;let i=index;">  
            <td>{{i}}</td>  
            <td class="one">{{employee.name}}</td>  
            <td class="two">{{employee.Position}}</td>  
            <td class="three">
                <button class="btn btn-primary" (click)="editEmployee(i)">Edit</button>&nbsp;
                <button class="btn btn-primary" (click)="deleteEmployee(i)">Delete</button>
            </td>
            <!-- <td>{{s.gender}}</td>  
            <td>{{s.age}}</td>  
            <td>{{s.course}}</td>  
            <td>{{f}}</td>  
            <td>{{l}}</td>   -->
        </tr>  
     
  <!-- Add new Employee form  -->
    
  <div class="addEmployeeTitleContainer">
        <div>Add Employee Details</div>
    </div>
    <div class="addEmployeeBtnContainer">
        <!-- CODE TO SHOW THE NEW BUTTON -->
        <div class="addNewEmployeeBtn" (click)="addNewEmployeeBtn()">New</div>
    </div>
    <!-- IF THE BUTTON CLICKED SHOW THIS FORM -->
    
    <div *ngIf="newEmployeeClicked">
        <div class="formWrapper">
            <form >
                <div class="form-group name">
                    <input type="text" class="form-control input" id="name"  [(ngModel)]="this.model.name"  [ngModelOptions]="{standalone: true}"  placeholder="Enter your name"/>
                      {{this.model.name}}
                </div>
                <div class="form-group position">
                    <input type="text" class="form-control input" id="position"  [(ngModel)]="this.model.position" [ngModelOptions]="{standalone:true}" placeholder="Enter your position"/>
                     {{this.model.position}}
                </div>
                <div class="submitBtnContainer">
                    <button class="saveBtn" type="submit" (click)="addEmployee()">Save</button>
                        
                  </div>

                  
                <!-- <div class="btn btn-dark">
                    <button class="saveBtn" type="submit" (click)="updateEmployee()">Update</button>
                </div> -->
            </form>
        </div>
    </div>

    <!-- Edit Using dynamic form -->
    <div class="editEmployeeTitleContainer">
        <div class="">Edit Employee</div>

    
    <form>
        <div class="form-group name">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model2.name" placeholder="Name Here">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model2.position" placeholder="Name Here">
        </div>
        <div class="btn btn-dark" type="submit" (click)="updateEmployee()">
                UPDATE
        </div>
    </form>
    </div>
    </tbody>

</table>



</form>